@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  max-width: 1440px;
  min-width: 375px;
}

section {
  background-color: hsl(0, 0%, 100%);
  width: 25rem;
  padding: 2rem;
  border-radius: 15px;
}

article {
  margin: 10px 0;
}

img {
  width: 100%;
  border-radius: 15px;
  margin: 10px 0;
}

h1 {
  font-size: 30px;
  font-family: 'Young Serif', serif;
}

p {
  margin: 20px 0;
  font-weight: 400;
}

.div {
  background-color: hsl(330, 100%, 98%);
  padding: 25px;
  border-radius: 15px;
}

div h3 {
  color: hsl(332, 51%, 32%);
}

div ul {
  margin-left: 30px;
  margin-top: 10px;
}

strong {
  font-weight: 600;
}

h2{
    color: hsl(14, 45%, 36%);
    font-family: 'Young Serif', serif;
}

li{
    font-weight: 500;
    margin: 20px;
    font-weight: 500;
}

hr{
    opacity: 0.2;
    border: 1px solid;
}

span{
    margin-left: 40%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
