*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 1440px;
  min-width: 375px;
  background-color: hsl(0, 0%, 8%);
  overflow: hidden;
  position: relative;
}

section{
  background-color: hsl(0, 0%, 12%);
  padding: 20px;
  border-radius: 15px;
  height: 30rem;
  width: 17rem;
  text-align: center;
}

article{
  margin-top: 15px;
}

h2{
  color: hsl(0, 0%, 100%);
  margin-bottom: 13px;
}

span{
  color: hsl(75, 94%, 57%);
  font-size: small;
}

p{
  margin-top: 20px;
  color: hsl(0, 0%, 100%);
  font-size:small;
}

ol{
  margin-top: 30px;
  list-style: none;
  font-weight: 600;
}

li{
  background-color: hsl(0, 0%, 20%);
  margin: 10px;
  padding: 9px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
}

a{
  text-decoration: none;
}

li:hover{
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}


img{
  border-radius: 100%;
  height: 6rem;
}

footer{
  position: absolute;
  bottom: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }