:root {
  --Very_Dark_Magenta: hsl(300, 43%, 22%);
  --Soft_Pink: hsl(333, 80%, 67%);
  --Dark_Grayish_Magenta: hsl(303, 10%, 53%);
  --Light_Grayish_Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

html {
  opacity: 1 !important;
  visibility: visible !important;
}

body {
  min-height: 100vh;
  background: url(./images/bg-pattern-top-desktop.svg) top left,
    url(./images/bg-pattern-bottom-desktop.svg) bottom right, var(--White);

  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem 2rem;
  max-width: 80%;
}

.container__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  color: var(--Very_Dark_Magenta);
  height: 7rem;
  width: 17rem;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.paragraph {
  height: 3.5rem;
  width: 29rem;
  color: var(--Dark_Grayish_Magenta);
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.list {
  right: 3rem;
  top: 3rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
}

.list__items {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Light_Grayish_Magenta);
  padding: 1.2rem 1rem;
  border-radius: 0.4rem;
  width: 25rem;
  height: 2rem;

  &.first__child {
    margin-right: 4rem;
  }

  &.tree__child {
    margin-left: 4rem;
  }
}

.container__articles{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

.card{
  background: var(--Very_Dark_Magenta);
  padding: 1.2rem;
  border-radius: .4rem;
  max-width: 19rem;
  height: 15rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
